.city-list-table {
    width: 100%;

    & tr td {
        padding: 10px;
        width: 50%;
    }
    & .city-list-cell-left {
        text-align: right;
        & img {
            height: 134px;
            width: 179px;
        }
    }
    & .city-list-cell-right {
        text-align: left;
    }
}