@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center">
    <div class="col-lg-4 col-12 mt-4">
        <h2>geek</h2>
        <p>
            I play games.  I roll dice.<br />
            And sometimes create things to help.
        </p>
        <p>
        * coming soon...
        </p>
    </div>
    <div class="col-lg-4 col-12 mt-4">
        <h2>developer</h2>
        <p>
            I write software for paychecks.<br />
            And sometimes because its fun.
        </p>
        <p>
            <a asp-controller="Developer" class="btn btn-secondary">bits and bytes</a>
        </p>
    </div>
    <div class="col-lg-4 col-12 mt-4">
        <h2>world traveler</h2>
        <p>
            Work to live, don't live to work.<br />
            And make sure there's pictures.
        </p>
        <p>
            <a asp-controller="WorldTraveler" class="btn btn-secondary">Would you like to see more?</a>
        </p>
    </div>
</div>
