@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center">
    <div class="col-lg-4 col-12 mt-4">
        <h2>geek</h2>
        <p>
            I play games.  I roll dice.<br />
            And sometimes create things to help.
        </p>
        <p>
            coming soon...
            @* <a asp-controller="Geek" class="btn btn-primary">roll for initiative</a> *@
        </p>
    </div>
    <div class="col-lg-4 col-12 mt-4">
        <h2>developer</h2>
        <p>
            I write software for paychecks.<br />
            And sometimes because its fun.
        </p>
        <h5>
            <a asp-controller="Developer" style="text-transform: lowercase;">debug my code</a>
        </h5>
    </div>
    <div class="col-lg-4 col-12 mt-4">
        <h2>world traveler</h2>
        <p>
            Work to live, don't live to work.<br />
            And make sure there's pictures.
        </p>
        <h5>
            <a asp-controller="WorldTraveler" style="text-transform: lowercase;">see the world</a>
        </h5>
    </div>
</div>
