<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system .webServer>
        <customErrors>
          <error statusCode="404" redirect="/index.html" />
        </customErrors>
        <security>
            <!-- <authentication>
                <basicauthentication enabled="false"></basicauthentication>
            </authentication> -->
        </security>
        <httpprotocol>
            <customheaders>
                <!-- <clear></clear>
                <add name="X-Powered-By" value="ASP.NET"></add> -->
            </customheaders>
        </httpprotocol>
        <directorybrowse enabled="false"></directorybrowse>
        <defaultdocument>
            <files>
                <clear></clear>
                <add value="index.html"></add>
            </files>
        </defaultdocument>
    </system>
</configuration>