@{
    Layout = "_Layout";
}

@section stylesheets {
    <link rel="stylesheet" type="text/css" href="/css/traveler.css">
}

<div class="text-center pt-4">
    <div>
        @RenderBody()
    </div>
</div>