@{
    Layout = "_DeveloperLayout";
}

<h2>developer</h2>
<p>
    My father brought a computer home when I was younger.  I was excited about it, and like many of my past toys, it wasn't long before I
    took it apart and had it in pieces on the floor.  I haven't really been apart from computers since then and now it pays the bills
    and passes the time.  Below are a couple of the projects that I work on in my spare time.
</p>
<div class="row mt-4">
    <div class="col-lg-4 order-lg-2
                col-sm-6 order-sm-2
                col-xs-12 order-xs-1
                list-cell-image left-xs-center">
        <a asp-action="weredev">
            <img src='/images/developer/weredev256.png' class='border border-dark' />
        </a>
    </div>
    <div class="col-lg-4 offset-lg-4 order-lg-1
                col-sm-6 order-sm-1
                col-xs-12 order-xs-2
                list-cell-name right-xs-center">
        <h4 class='mt-1'><a asp-action="weredev.com">weredev.com</a></h4>
        <div class="list-cell-name-description">
            You already know what this is.  You're looking at it!
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-lg-4 col-sm-6 col-xs-12 list-cell-image right-xs-center">
        <a asp-action="wu10man"><img src='/images/developer/wu10man128.png' class='border border-dark' /></a>
    </div>
    <div class="col-lg-4 col-sm-6 cool-sx-12 list-cell-name left-xs-center">
        <h4 class='mt-1'><a asp-action="wu10man">Wu10Man</a></h4>
        <div class="list-cell-name-description">
            Windows 10 has decided that users are no longer smart enough to control their own updates, so I wrote this
            to grant that control back.
        </div>
    </div>
</div>